---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Video from "../components/Video.astro";
import Reviews from "../components/Reviews.astro";
---

<Layout title="Klaudia Rutkowska | Fright Land">
    <main>
        <Video />
        <Reviews />
    </main>
</Layout>
