---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Shop from "../components/Shop.astro";
import Reviews from "../components/Reviews.astro";
import HorrorMovies from "../components/HorrorMovies.astro";
import Sponsors from "../components/Sponsors.astro";
---

<Layout title="Klaudia Rutkowska | Fright Land">
    <main>
        <Video />
        <Sponsors />
        <HorrorMovies />
        <Shop />
        <Reviews />
    </main>
</Layout>
