---
interface Props {
    title: string;
    image?: string;
    imageName?: string;
    visitorsCount?: string;
    reviewsCount?: string;
    class?: string;
}

const {
    title,
    image,
    imageName,
    visitorsCount,
    reviewsCount,
    class: className,
} = Astro.props;

const imgSrc = "../../public/img/places-gallery/" + image + ".jpg"
const imgAlt = imageName + " image"
---
<style>
    div {
        transform: translateY(var(--y));
        --y: 0px;
    }
</style>


<div class:list={[ className, 'transition-transform duration-300 !translate-y-[var(--y)]' ]} style="--y: 0px;">
    <div class="p-8 h-[542px] bg-dark-purple bg-card-grass bg-no-repeat rounded-[48px] flex flex-col gap-[41px]">
        <div class="swiper slides h-[266px] w-[266px] rounded-[32px]">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src={ imgSrc } alt={ imgAlt }>
                </div>
                <div class="swiper-slide">
                    <img src={ imgSrc } alt={ imgAlt }>
                </div>
                <div class="swiper-slide">
                    <img src={ imgSrc } alt={ imgAlt }>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="flex flex-col gap-y-8">
            <h3 class="text-white h-20 font-creepster text-[40px] font-normal leading-none tracking-[-0.8px]">{ title }</h3>
            <div class="flex justify-between">
                <div class="flex flex-col">
                    <p>{ visitorsCount } visitors</p>
                    <div>
                        user icons
                    </div>
                </div>
                <div>
                    <p>{ reviewsCount } reviews</p>
                    <div>
                        stars rate
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // import Swiper bundle with all modules installed
    import Swiper from 'swiper/bundle';

    // import styles bundle
    import 'swiper/css/bundle';

    const sliders = document.querySelectorAll<HTMLElement>('.slides')

    sliders.forEach(slider => {
        new Swiper(slider, {
            nested: true,
            direction: 'horizontal',
            loop: true,
            slidesPerView: 1,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                bulletClass: 'swiper-pagination-bullet bg-light-purple'
            },
        });
    })
</script>

<style>
    :root {
        --swiper-pagination-bullet-inactive-opacity: 0.5;
        --swiper-theme-color: theme(colors.light-purple);
        --swiper-pagination-bullet-inactive-color: theme(colors.light-purple);
    }
</style>