---
import LogoFooter from "./LogoFooter.astro";
import Divider from "./Divider.astro";
import Button from "./button/Button.astro";
---

<footer class="bg-dark-purple bg-footer-grass bg-no-repeat before:bg-no-repeat relative before:absolute 
    before:bg-[url('/img/ivy.png')] before:top-[-49px] before:left-[20%] before:w-[191px] before:h-[70px]
    after:absolute after:bg-[url('/img/pumpkins.png')] after:top-[-49px] after:right-[20%] after:w-[201px] after:h-[93px]">
  <div class="container flex flex-col gap-y-20 items-center py-24 font-bold tracking-[-0.36px]">
    <LogoFooter />

    <div class="grid grid-cols-4 gap-8">
        <div class="col-span-1 flex flex-col gap-8 items-center">
            <h2 class="font-creepster text-3xl tracking-[-0.64px]">about fright land</h2>
            <div  class="flex flex-col gap-4 items-center">
                <a href="#0">About us</a>
                <a href="#0">Press</a>
                <a href="#0">Resources</a>
                <a href="#0">Trust & Safety</a>
                <a href="#0">Contact us</a>
            </div>
        </div>

        <div class="col-span-1 flex flex-col gap-8 items-center">
            <h2 class="font-creepster text-3xl tracking-[-0.64px]">explore</h2>
            <div  class="flex flex-col gap-4 items-center">
                <a href="#0">Write a review</a>
                <a href="#0">Add a Place</a>
                <a href="#0">Blog</a>
                <a href="#0">Travelers' Choice</a>
            </div>
        </div>

        <div class="col-span-1 flex flex-col gap-8 items-center">
            <h2 class="font-creepster text-3xl tracking-[-0.64px]">do bussiness with us</h2>
            <div  class="flex flex-col gap-4 items-center">
                <a href="#0">Owners</a>
                <a href="#0">Adventure with us</a>
                <a href="#0">Sponsored Placements</a>
                <a href="#0">Beome a host</a>
            </div>
        </div>

        <div class="col-span-1 flex flex-col gap-8 items-center">
            <h2 class="font-creepster text-3xl tracking-[-0.64px]">support</h2>
            <div class="flex flex-col gap-4 items-center">
                <a href="#0">Terms of Use</a>
                <a href="#0">Privacy & Policy</a>
                <a href="#0">Cookie consent</a>
                <a href="#0">Site map</a>
                <a href="#0">How the site works</a>
            </div>
        </div>
    </div>

    <Divider />

    <div class="flex gap-3 font-bold tracking-[-0.32px]">
        <Button variant="purple" content="Sign in" icon="login" />
        <Button content="Become a host" icon="user" />
    </div>

  </div>
</footer>
