---
import Button from "./button/Button.astro";
---

<header class="mt-20 sticky top-0 z-10 bg-background-purple transition-shadow">
    <div class="container flex justify-between items-center font-bold">
        <nav>
            <ul class="flex gap-12 text-lg tracking-[-0.36px]">
                <li><a href="">Stays</a></li>
                <li><a href="">Attractions</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </nav>

        <img src="../../public/img/logo-header.png" alt="" />

        <div class="flex justify-between items-center gap-12">
            <a href="#0" class="text-lg tracking-[-0.36px]">Contact</a>

            <div class="flex gap-3 text-base leading-5 tracking-[-0.32px]">
                <Button variant="purple" content="Sign in" icon="login" />
                <Button content="Become a host" icon="user" />
            </div>
        </div>
    </div>
</header>

<script>
    const header = document.querySelector("header");

    window.addEventListener("scroll", function (event) {
        if (header.getBoundingClientRect().y === 0) {
            header.classList.add("shadow-lg");
        } else {
            header.classList.remove("shadow-lg");
        }
    });
</script>
