---
import AccomodationOffer from "./AccomodationOffer.astro";
---

<section id="hero" class="mb-[164px]">
    <div class="h-[896px] bg-hero bg-no-repeat bg-contain">
        <div class="container relative">
            <AccomodationOffer
                title="old abandoned bedroom"
                description="Watch out for ghosts that may be roaming around you"
                imageSrc="bedroom1"
                imageAlt="Old abandoned bedroom"
                price={325}
                rating={4.95}
                class="top-[166px] left-[260px]"
            />
            <svg
                width="152"
                height="114"
                viewBox="0 0 152 114"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="absolute left-[677px] top-[366px]"
            >
                <path
                    d="M25.0391 7.21313C28.7975 26.6719 28.9504 29.2871 34.7891 42.8121C40.4232 55.8632 47.9669 64 58.3867 70.5275C68.0232 76.553 80.7331 80.9952 92.1132 77.6079C97.5891 75.961 102.31 72.5517 105.441 67.7338C108.43 63.1058 109.994 57.5216 109.87 52.0032C109.575 40.3955 101.831 30.1664 91.7881 24.8769C86.6595 22.1961 80.7198 20.2737 74.8892 21.3247C68.5588 22.4454 64.2844 27.5925 61.2465 32.8388C55.5293 42.738 53.6817 54.8143 56.0232 66.0007C58.3879 77.3536 65.3003 87.2232 74.8399 93.7717C84.2611 100.201 94.1512 100.98 107.09 101.465C117.783 101.867 123.384 100.043 131.791 93.4234"
                    stroke="#DBDEFF"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M132.075 103.583C133.17 101.88 134.232 100.109 135.16 98.4036C135.708 97.4678 136.156 96.4973 136.604 95.5268C137.085 94.6239 137.466 93.6863 137.376 92.6425C137.202 90.2186 134.352 89.346 132.479 88.4169C130.605 87.4879 128.73 86.727 126.787 85.999"
                    stroke="#DBDEFF"
                    stroke-width="2"
                    stroke-linecap="round"></path>
            </svg>

            <AccomodationOffer
                title="cellar, cozy space"
                description="This cellar is known for its rich history, with plenty of spooky tales and legends."
                imageSrc="bedroom2"
                imageAlt="Cellar, cozy space"
                price={125}
                rating={5.0}
                class="top-[353px] right-[272px]"
            />

            <svg
                width="45"
                height="48"
                viewBox="0 0 45 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="absolute right-[752px] top-[532px]"
            >
                <path
                    d="M1.31936 41.5324C8.67777 39.2044 15.5638 35.412 21.4952 30.4887C27.3926 25.6018 31.0627 20.2671 36.0562 12.8673C39.07 8.40127 43.0923 0.999925 43.0923 0.999925"
                    stroke="#DBDEFF"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M9.60241 26.6066C7.37433 30.559 5.18266 34.5453 2.95458 38.4977C2.68839 38.9648 2.45621 39.3956 2.19001 39.8628C1.95783 40.2936 1.62004 40.728 1.49586 41.2256C1.30601 41.8665 2.02083 42.1596 2.55486 42.3178C4.62298 43.0234 6.75675 43.5858 8.89291 44.2186C11.3495 44.9463 13.8073 45.7092 16.2638 46.437"
                    stroke="#DBDEFF"
                    stroke-width="2"
                    stroke-linecap="round"></path>
            </svg>
        </div>
    </div>
</section>
