---
import Button from './button/Button.astro';

interface Props {
    image: string;
    name: string;
    icon: string;
    iconName: string;
    iconCount: string;
}

const { image, name, icon, iconName, iconCount } = Astro.props;

const imgSrc = "../../public/img/lessors/" + image + ".png"
const imgAlt = name + " image"

const iconSrc = "../../public/img/lessors/" + icon + ".svg"
const iconAlt = iconName + " image"

const buttonName = "Show " + iconName
---

<div class="swiper-slide pt-[11px]">
    <div class="mx-auto pb-[64px] px-7 w-[201px] h-[525px] flex flex-col items-center justify-end rounded-[48px] bg-transparent group hover:bg-dark-purple transition-colors duration-300 cursor-pointer">
        <img src={ imgSrc } alt={ imgAlt } class="h-[330px] mb-[72px] object-cover absolute top-0 left:0 right:0">
        <h3 class=" font-creepster text-5xl text-white tracking-[-1.35px] text-center whitespace-nowrap">{ name }</h3>
        <div class="mt-3 flex justify-center gap-2 opacity-100 group-hover:opacity-0 duration-300">
            <img src={ iconSrc } alt={ iconAlt }>
            <p>{ iconCount }</p> 
            <p>{ iconName }</p>
        </div>
        <Button variant='purple' content={ buttonName } class="absolute translate-y-12 bottom-7 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-[transform,opacity] whitespace-nowrap"/>
    </div>
</div>