---
import Review from "./Review.astro";
---

<section id="reviews" class="bg-review bg-no-repeat">
    <div class="container">
        <div
            class="pb-[209px] pt-[153px] max-w-[1231px] mx-auto flex flex-col items-center gap-20"
        >
            <div class="flex items-center gap-[55.5px]">
                <img src="../../public/img/reviews/ghosts.png" alt="" />

                <div>
                    <div class="ml-16">
                        <h3
                            class="mb-6 text-pink text-base font-semibold tracking-[-0.32px] leading-none"
                        >
                            TESTIMONIALS
                        </h3>
                        <h2
                            class="mb-4 text-white font-creepster text-7xl font-normal tracking-[-1.44px] leading-none"
                        >
                            see our satisfied travellers
                        </h2>
                        <p>
                            A white sheet does not always mean 
                            <span class="block">that someone is not scared ( ͡° ͜ʖ ͡°)</span>
                        </p>
                    </div>

                    <div class="mt-[46px] flex flex-col gap-6">
                        <Review 
                            classList='px-8 py-6 max-w-[457px] self-end flex flex-col gap-y-6 relative bg-middle-purple hover:bg-dark-purple transition-colors duration-300 bg-no-repeat rounded-r-[48px] rounded-b-[48px] group/review' 
                            picture="../../public/img/reviews/person1.png"
                            name="Indiana Jones"
                            proffesion="Traveler"
                            rating="4"
                        />
                        <Review 
                            classList='px-8 py-6 max-w-[457px] ml-5 flex flex-col gap-y-6 relative bg-middle-purple hover:bg-dark-purple transition-colors duration-300 bg-no-repeat rounded-r-[48px] rounded-b-[48px] group/review' 
                            picture="../../public/img/reviews/person2.png"
                            name="Random Guy"
                            proffesion="Traveler"
                            rating="5"
                        />

                    </div>
                </div>
            </div>

            <button
                class="flex items-center px-6 pt-[13px] pb-[17px] text-light-pink rounded-2xl bg-btn-host bg-no-repeat from-[#EC56C9] to-[#9F2A7E] shadow-[0px_5px_50px_0px_rgba(192,57,161,0.25),_-2px_-3px_0px_0px_#802366_inset,3px_2px_0px_0px_#E67ACD_inset] relative"
            >
                Become a host
                <svg
                    class="stroke-svg-light-pink ml-2 w-5 h-5"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M15.02 3.01001C14.18 2.37001 13.14 2 12 2C9.24 2 7 4.24 7 7C7 9.76 9.24 12 12 12C14.76 12 17 9.76 17 7"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                    <path
                        d="M20.5901 22C20.5901 18.13 16.7402 15 12.0002 15C7.26015 15 3.41016 18.13 3.41016 22"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                    </path>
                </svg>
            </button>
        </div>
    </div>
</section>
