---
import Review from "./Review.astro";
import Button from "./button/Button.astro";
---

<section id="reviews" class="bg-review bg-no-repeat">
    <div class="container">
        <div
            class="pb-[209px] pt-[153px] max-w-[1231px] mx-auto flex flex-col items-center gap-20"
        >
            <div class="flex items-center gap-[55.5px]">
                <img src="../../public/img/reviews/ghosts.png" alt="" />

                <div>
                    <div class="ml-16">
                        <h3
                            class="mb-6 text-pink text-base font-semibold tracking-[-0.32px] leading-none"
                        >
                            TESTIMONIALS
                        </h3>
                        <h2
                            class="mb-4 text-white font-creepster text-7xl font-normal tracking-[-1.44px] leading-none"
                        >
                            see our satisfied travellers
                        </h2>
                        <p>
                            A white sheet does not always mean 
                            <span class="block">that someone is not scared ( ͡° ͜ʖ ͡°)</span>
                        </p>
                    </div>

                    <div class="mt-[46px] flex flex-col gap-6">
                        <Review 
                            content="Viverra egestas congue posuere egestas. Quis eget fermentum, ut sagittis scelerisque eu. Non nec accumsan, leo, semper arcu."
                            picture="../../public/img/reviews/person1.png"
                            name="Indiana Jones"
                            proffesion="Traveler"
                            rating={4}
                        />
                        <Review 
                            content="Viverra egestas congue posuere egestas. Quis eget fermentum, ut sagittis scelerisque eu. Non nec accumsan, leo, semper arcu." 
                            picture="../../public/img/reviews/person2.png"
                            name="Random Guy"
                            proffesion="Traveler"
                            variant="left"
                            rating={5}
                        />

                    </div>
                </div>
            </div>
            <Button content="Become a host" icon="user" />
        </div>
    </div>
</section>
