---
import Button from "./button/Button.astro";
import Potion from "./Potion.astro"
---

<section id="shop">
    <div class="container">
        <div class="py-24 px-24 flex gap-16 bg-dark-purple bg-shop bg-no-repeat rounded-[56px]">
            <div class="flex flex-col items-center text-center max-w-[480px]">
                <img class="mt-3 mb-10" src="../../public/img/small-logo.png" alt="fright land logo" />
                <h2 class="mb-4 font-creepster text-[64px] tracking-[-1.28px] leading-none text-white">want a better chance or survival?</h2>
                <p class="mb-[73px]">Go to our store and equip yourself with the right concoctions.</p>
                <Button variant="purple" content="Check more stuff!" />
            </div>
    
            <div id="potions" class="flex flex-col gap-[30px] max-h-[434px] overflow-auto ">
                <Potion image="elixir-of-fire" name="elixir of fire" description="Ornare massa lacus, tempor phasellus. Fermentum feugiat eget diam porttitor." price="16" />
                <Potion image="potion-of-cold" name="potion of cold" description="Ornare massa lacus, tempor phasellus. Fermentum feugiat eget diam porttitor." price="16" />
                <Potion image="elixir-of-lucky" name="elixir of lucky" description="Ornare massa lacus, tempor phasellus. Fermentum feugiat eget diam porttitor." price="16" />
                <Potion image="potion-of-life" name="potion of life" description="Ornare massa lacus, tempor phasellus. Fermentum feugiat eget diam porttitor." price="16" />
                <Potion image="potion-of-death" name="potion of death" description="Ornare massa lacus, tempor phasellus. Fermentum feugiat eget diam porttitor." price="16" />
                <Potion image="potion-of-energy" name="potion of energy" description="Ornare massa lacus, tempor phasellus. Fermentum feugiat eget diam porttitor." price="16" />
            </div>
        </div>
    </div>
</section>
