<section id="sponsors">
    <div class="container mt-[125px] mb-[175px] flex flex-col items-center gap-y-8 bg-sponsors-section bg-no-repeat">
        <p class="text-xl  tracking-[-0.4px] leading-none">Those who cooperate with us and help us scare our guests</p>
        <div class="flex gap-x-[54px]">
            <img src="../../public/img/sponsors/addams-family.svg" alt="Addams Family Logo">
            <img src="../../public/img/sponsors/dexters-laboratory.svg" alt="Dexters Laboratory Logo">
            <img src="../../public/img/sponsors/ghostbusters.svg" alt="Ghostbusters Logo">
            <img src="../../public/img/sponsors/hotel-transylvania.svg" alt="Hotel Transylvania Logo">
            <img src="../../public/img/sponsors/happy-tree-friends.svg" alt="Happy Tree Griends Logo">
        </div>
    </div>
</section>