---
import Button from "./button/Button.astro";
---

<section id="video" class="bg-video">
    <div class="container py-28">
        <div
            class="max-w-[1231px] mx-auto p-8 flex gap-8 rounded-[56px] bg-dark-purple bg-video-section bg-no-repeat"
        >
            <div class="flex flex-col items-center text-center">
                <img
                    class="mt-10"
                    src="../../public/img/small-logo.png"
                    alt=""
                />

                <h2
                    class="mt-10 mb-4 font-creepster text-[64px] leading-none tracking-[-1.28px]"
                >
                    death will come tomorrow
                </h2>
                <p class="mb-[72px]">
                    Of course, if she manages to leave the volcano first. We
                    have prepared a special labyrinth for her.
                </p>

                <div class="flex gap-3 text-base leading-5 tracking-[-0.32px]">
                    <Button content="Become a host" icon="user" />
                    <Button variant="purple" content="Learn more" />
                </div>
            </div>

            <div class="flex gap-8">
                <div
                    class="relative before:absolute before:top-[71px] before:left-[-15px] before:w-[373px] before:h-[424px] before:bg-video-character"
                >
                    <!-- <img
                    class="absolute content-none top-[71px] left-[-15px] max-w-[373px] max-h-[424]"
                    src="/img/video/character.png" 
                    alt=""
                > -->

                    <img
                        class="rounded-[32px] max-w-none"
                        src="/img/video/image1.png"
                        alt=""
                    />
                </div>
                <div
                    class="relative before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0 before:bg-gradient-to-t before:from-dark-purple 
                    after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:transition-opacity after:bg-gradient-to-t after:from-dark-purple after:opacity-0 after:hover:opacity-100
                    group overflow-hidden"
                >
                    <img
                        class="rounded-[32px] max-w-none"
                        src="/img/video/image2.png"
                        alt=""
                    />
                    <div class="flex flex-col absolute z-10  bottom-8 left-8 right-8 translate-y-52 transition-transform group-hover:translate-y-0
                        ">
                        <h3 class="font-creepster text-3xl tracking-[-0.64px]">hot. explore. volcano.</h3>
                        <p class="mt-1 text-sm font-normal text-light-purple">
                            See what the volcano looks like and whether death
                            can handle it
                        </p>
                        <Button variant="emptyYellow" content="Play video" icon="play" iconPosition="left" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
